@use '../../media-queries.scss' as *;
.nav {
  flex-basis: 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-secondary-dark);
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    margin-top: 4rem;
    @include query(tabPort) {
      flex-direction: row;
      margin: 2rem 0;
    }
  }
  li {
    @include query(tabPort) {
      flex: 1;
    }
    font-weight: 300;
    cursor: pointer;
    padding: 1rem 0;
    color: var(--color-light);
    line-height: 0;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    position: relative;
    transition: color 0.2s 0.3s;
    span {
      position: relative;
    }
    &:hover {
      color: var(--color-dark);
    }

    &::before {
      content: '';
      height: 110%;
      width: 0.3rem;
      background-color: var(--color-primary);
      transform: scaleY(0);
      transition: transform 0.225s, width 0.3s 0.25s;
      position: absolute;
    }
    &:hover::before {
      transform: scaleY(1);
      width: 100%;
    }
  }
}

.icon {
  margin: 0 2rem 0 2.5rem;
  display: block;
  @include query(phone) {
    margin: 0 1rem;
  }
}

.legal {
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.7;
  padding: 2rem 4rem;
  @include query(tabPort) {
    display: none;
  }
}
