$color-primary: #003566;
$color-primary-dark: #00203d;
$color-primary-light: #6686a3;

$color-secondary: #ffd60a;
$color-secondary-dark: #998006;
$color-secondary-light: #ffe66c;

$color-dark: #000814;
$color-light: #e6ebf0;
