.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.card {
  background-color: white;
  box-shadow: 0 1.2rem 2rem rgba(0, 0, 0, 0.2);
  padding: 2rem 3rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.review {
  &__details {
    display: flex;
    align-items: center;

    gap: 2rem;
    img {
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
    }
    &--text {
      margin-right: auto;
      .date {
        font-size: 1.2rem;
        color: #999;
      }
    }
    span {
      font-size: 3rem;
      font-weight: 300;
      color: var(--color-primary);
    }
  }
}

.anchor {
  border-bottom: solid 1px var(--color-primary);
  padding: 0 0.8rem;
  border-radius: 2.2px;
  transition: transform 0.4s, background-color 0.4s, box-shadow 0.4s;
  &:hover {
    color: white;
    background-color: var(--color-primary);
    transform: translateY(-3px);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  }
}
