.container {
  max-width: 130rem;
  background-color: var(--color-light);
  margin: 8rem auto;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  min-height: 40rem;
}

.content {
  display: flex;
}

.side-bar {
  flex-basis: 18%;
}

.main {
  flex: 1;
}
