:root {
  --color-primary: #dd096d;
  --color-primary-dark: #9b064c;
  --color-primary-light: #e75399;

  --color-secondary: #110b11;
  --color-secondary-dark: #0a070a;
  --color-secondary-light: #413c41;

  --color-dark: #350019;
  --color-light: #e7e7e7;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::after {
  box-sizing: inherit;
}
*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #444;
  padding: 3rem;
  overflow-x: hidden;
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-dark),
    var(--color-primary-light)
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

a,
a:visited {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-primary);
}
