:root {
  --color-primary: #003566;
  --color-primary-dark: #00203d;
  --color-primary-light: #6686a3;

  --color-secondary: #ffd60a;
  --color-secondary-dark: #998006;
  --color-secondary-light: #ffe66c;

  --color-dark: #000814;
  --color-light: #e6ebf0;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::after {
  box-sizing: inherit;
}
*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #666;
  padding: 3rem;
  overflow-x: hidden;
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-dark),
    var(--color-primary-light)
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

///////// PALETTE https://coolors.co/palette/000814-001d3d-003566-ffc300-ffd60a
